.header header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  position: fixed;
  top: 0px;
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid black;
  }
img{
  }
h1{
  width: 800px;
  color: MediumAquamarine;
}

.topnav ul li{
  display: inline-block;
  list-style: none;
  text-align: center;
  color: #0000;
}

.container{
  display: flex;
  flex-direction: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;
}

#columnlarge{
  width: 630px;
  display: flex;
  flex-flow: wrap;
  margin: 0;
}

#columnmedium{
  width: 300px;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  }

#columnsmall{
  width: 240px;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  }

.phish{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  }

.heading{
  font-size: 15px;
  font-weight: bold;
}

.smallheading{
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.earth-spins{
background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.camera{
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cats{
  width: 300px;
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  background-size: 300px 200px
}

.story{
}

.footer{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: mediumaquamarine;
}
