.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  }
img{
  border: 1px solid black;
}
h1{
  width: 600px;
  border: 1px solid black;
  color: MediumAquamarine;
}
.topnav ul li{
  display: inline-block;
  list-style: none;
  text-align: center;
  color: black;
  padding-top: 20px;
}
.container{
  display: flex;
}
.column.large{
  width: 630px;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
}
.phish{
}
h2 #phish{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

  }
h2, h3, .column.large, .column.medium, .column.small{
}
h3{
  font-weight: normal;
}
