header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}
img{
  border: 2px solid black;
}
h1{
  width: 600px;
  border: 2px solid black;
  color: MediumAquamarine;
}
.topnav ul{
  display: inline-block;
  width: 50px;
  list-style-type: none;
  color: black;
  padding: 8px;
}
.content{
  display: flex;
  flex-wrap: wrap;
}
.column.large{
  width: 630px;
}
.column.medium {
  width: 300px;
}
}
